*.cpp linguist-language=C++
*.h linguist-language=C++
*.hpp linguist-language=C++

FMODAudioDemo/dependencies/* linguist-vendored
FMODAudioDemo/bootstrap/* linguist-vendored
FMODAudioDemo/tools/* linguist-vendored
FMODAudioDemo/bin/* linguist-vendored
FMODAudioDemo/Project3D/* linguist-vendored
FMODAudioDemo/temp/* linguist-vendored
